*{
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	touch-callout: none;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
/*
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
*/

}

#login{
	background:url("../img/back-login.png");
	width: 100%;
	height: 100%;
	padding: 10px 0 80px;
}
.home_btn_login, .home_btn_cadastro{
	width: 47%;
	float: left;
	border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	-webkit-border-radius: 8px !important;
	-o-border-radius: 8px !important;
	font-family: 'Lato', sans-serif !important;;
	font-weight: 300 !important;
}
.home_btn_login{
	margin-right: 20px;
}
@media (max-width: 391px){
	.home_btn_login, .home_btn_cadastro {
		width: 46%;
	}
}
.home_btn_login_facebook{
	background: #4D70AA !important;
	border: #34568b solid 1px !important;
	border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	-webkit-border-radius: 8px !important;
	-o-border-radius: 8px !important;
	font-family: 'Lato', sans-serif !important;;
	font-weight: 300 !important;
	padding: 5px 0 39px 43px !important;
}
.home_btn_login_facebook:before{
	font-family: 'FontAwesome';
	content: "\f09a";
	position: absolute;
	font-size: 24px;
	border-right: 2px solid #34568b;
	padding-right: 16px;
	left: 18px;
}
.input-form{
	background: rgba(255,255,255,0.7)!important;
	border-radius: 8px!important;
	padding-left: 13px !important;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { outline:none; }
select:-moz-placeholder, textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color:#999; }
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color:#999; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#999; }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color:#000;
	opacity:1;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.logo_title{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	text-transform:uppercase;
	color:#ff3300;
}
.msg-login{
	color: #fff;
	font-family: 'Lato';
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}
.statusbar-overlay {
    background:#ff3300;
}

.picker-calendar-day.picker-calendar-day-today span{
	color:#ff3300;
}
.picker-calendar-day.picker-calendar-day-selected span{
	background:#ff3300;
}
.picker-modal .toolbar{
	background:#ff3300;
}
.picker-calendar-selected-date{
	background:#ff3300;
}

.floating-button {
	color: #fff;
	position: absolute;
	right: 16px;
	bottom: 16px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	z-index: 1500;
	overflow: hidden;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: #ff3300;
}
html:not(.watch-active-state) .floating-button:active,
.floating-button.active-state {
	background: #CC3642;
}

.tab{
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	overflow-y:auto;
}


.restaurante_comentario_texto{
	font-size:0.9em;
}
.restaurante_comentario_data{
	font-size:0.9em;
	color:#666;
}
.restaurante_comentario_autor{
	font-size:0.9em;
	color:#333;
}

input,textarea,select {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

.panel{
	background:#ff9933;
	background:#fff;
	box-shadow: 2px 0px 5px #777;
}
.page{
	background:#fff;
	background:#fcfcfc;
	background:#f3f3f3;
}
.content-block{
	padding:0 10px;
}

.toolbar{
	background:#f3f3f3;
	box-shadow: 0px 0px 2px #333;
}
.toolbar:before{
	background:transparent;
}

.subnavbar, .subnavbar:after{
	background:transparent;
}

.buttons-row .button:first-child:last-child{
	border-radius:0px;
}

.list-block ul{
	background:transparent;
}
.list-block ul:before,.list-block ul:after,.content-block-inner:before,.content-block-inner:after{
	background:transparent;
}

.material{
	margin:5px 10px;
    box-shadow: 1px 1px 2px #ccc;
	background:#fff;
	padding-left:10px !important;
}




.navbar-fixed .toolbar:not(.messagebar){
    /*top: calc(100vh - 51px);
    top: calc(100vh - 71px);*/
	top:87%;
}
.navbar-fixed .tabbar-labels:not(.messagebar) ~ .page-content{
	padding-top:100px;
	padding-top:48px;
	padding-bottom:56px;
}
.tabbar-labels a.tab-link, .tabbar-labels a.link{
	padding-top:3px;
}
.tabbar-labels{
	height:52px;
}
.tabbar-labels span.tabbar-label{
	margin-top:2px;
}





.item-content{
}

.item-content:active{
	background:#ff9933;
	background:transparent;
}
.list-block .item-inner{
	color:#ff3300;
}
.list-block .item-after{
	color:#ff3300;
	color:#ff9933;
	font-size:12px;
}
.list-block .item-inner:after{
	background:#ff9933;
	background:transparent;
}


.self_valor{
	color:#ff3300;
}
a{
	color:#ff9933;
}

.notifications .button.close-notification{
	color:white;
}

.notifications .close-notification{
	background-image:url('');
}
.notifications .item-title{
	color:#ff9933 !important;
	font-size:14px !important;
}
.titulo_slider{
	text-align:center;
	font-size:0.7em;
	color:#ff9933;
}
.titulo_slider > h3{
	margin:0px;
	margin-top:5px;
}
.list-block .item-text,.list-block .item-subtitle{
	font-size:12px;
	color:#ff3300;
}
.list-block.media-list .item-title, .list-block li.media-item .item-title,h3{
	font-size: 22px;
	color: #FFF;
	padding-top: 40px;
}
.content-block-title{
	padding:5px 0px;
	color:#ff9933;
	margin:15px 15px 10px;
}
.list-block select,.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
	color:#0b1b24;
}

.modal-inner{
	color:#ff3300;
	border-radius:0px;
	border-top:3px solid #ff3300;
	background:#fff;
}
.modal-button{
	color:#ff9933;
	background:#fff;
}
.modal-button:first-child,.modal-button:last-child,.modal-button:first-child:last-child{
	border-radius:0px;
}
.button{
	border:1px solid #ff3300;
	border:1px solid rgb(161, 22, 22);
	border:0px;
	color:white;
	height:33px;
	line-height:33px;
	background:#ff3300;
	border-radius:0px;
    box-shadow: 1px 1px 2px #333;
}

.navbar{
	background:#ff3300;
	color: white;
}

.tabbar{
	background:#111;
	color: white;
}

.badge{
	border-radius:0px;
}

#restaurante_detalhe_template_mapa{
	height:200px;
}

#div_mapa_home{
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-ms-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s; 

	height:144px;
	margin:0px;
	box-shadow: 0px 0px 2px #333;
    box-shadow: 1px 1px 2px rgba(219, 31, 47, 0.31);
}

.preloader-indicator-modal{
	background:transparent !important;
}
.preloader-indicator-overlay{
	background:rgba(0,0,0,0.4);
	opacity:1;
}

.facebook-card .card-header {
	display: block;
	padding: 10px;
}
.facebook-card .facebook-avatar {
	float: left;
}
.facebook-card .facebook-name {
	margin-left: 44px;
	font-size: 14px;
	font-weight: 500;
}
.facebook-card .facebook-date {
	margin-left: 44px;
	font-size: 13px;
	color: #8e8e93;
}
.facebook-card .card-footer {
	background: #fafafa;
}
.facebook-card .card-footer a {
	color: #81848b;
	font-weight: 500;
}
.facebook-card .card-content img {
	display: block;
}
.facebook-card .card-content-inner {
	padding: 15px 10px;
	color:#ff9933;
	padding-top:0px;
}  

.tiny_date{
	font-size:12px;
	color:#666;
}
.accept{
	background:#33CC33;
}

.reject{
	background:#ff3300;
}

.wait{
	background:#333333;
}

.list-block li{
	-webkit-transform: translate3d(0,0,0);
}

.swipe-edit{
	background: #33CC33;
}
.swipe-delete{
	background: rgb(207, 57, 57) !important;
}


.checkbox-right{
	width: 80% !important;
}


.navbar .center {
	font-weight: bold;
}

.navbar a.link, .toolbar a.link{
	color: white;
}
.navbar:after{
	background-color: transparent;
}

#div_carrinho{
	margin-top:42px;
}
#floating_carrinho_count{
	font-size: 0.8em;
	margin-left:3px;
}

.sugestao_header_pic{
    background-size: cover;
    height: 190px;
}

#carrinho_count, #carrinho_count_self,#pedidos_count{
	font-size: 0.7em;
	position:absolute;
	top:0px;
	right:8px;
	display:inline-block;
}

.img_tiny{
	width:32px;
	height:32px;
	overflow:hidden;
}

.img_tiny > img{
	width:32px;
	min-height:32px;
}

.img_slider{
	margin:0 auto;
	width:48px;
	height:48px;
	overflow:hidden;
}

.img_slider > img{
	width:48px;
	min-height:48px;
}

.home_distancia{
	text-align:center;
	font-size:12px;
	color:#999;
	margin:3px 0px;
}
.home_ncomentarios{
	font-size:14px;
	color:#999;
}
.home_endereco{
	font-size:12px;
	color:#999;
}
.home_estrela{
	color:#DCDC2B;
}
.home_titulo{
	font-size:20px
	display:block;
	margin-top:10px;
	margin-bottom:5px;
	color:#333;
}
.home_categoria{
	font-size:12px;
	color:#333;
}
.home_img{
	margin:0 auto;
	margin-top:10px;
	width:55px;
	height:55px;
	overflow:hidden;
}
.home_img > img{
	width:55px;
	min-height:55px;
}

#login_form{
	padding: 0 5%;
}
#login{
}

.searchbar_pesquisa{
	padding:5px;
	border-radius:5px;
	border:0px;
	color:#fff;
	background:rgba(255,255,255,0.3);
	width:100%;
}

.tabbar-label{
	font-size:0.8em;
}

.card-header a.link, .card-footer a.link{
	color:#ff9933;
}

.img_profile_pic{
	margin:20px auto;
	border-radius:64px;
	border:5px solid white;
	width:128px;
	height:128px;
	overflow:hidden;
}

.img_profile_pic > img{
	width:128px;
	min-height:128px;
}



.img_sugestao{
	margin:0 auto;
	width:100%;
	height:200px;
	overflow:hidden;
}

.img_sugestao > a > img{
	width:100%;
	min-height:200px;
}

.titulo_sugestao{
	text-align:center;
}


.img_thumb{
	width:80px;
	height:80px;
	overflow:hidden;
}

.img_thumb > img{
	width:80px;
	min-height:80px;
}

.img_medium{
	width:128px;
	height:128px;
	border:2px solid white;
	margin:0 auto;
}


.page-content{
	height:100vh;
}

.actions-modal-button{
	color:#ff3300;
}

.list-block .focus-state .label,.list-block .focus-state .floating-label{
	color:#ff9933;
}

.item-input-field.focus-state:after, .input-field.focus-state:after, .item-input-field.not-empty-state:after, .input-field.not-empty-state:after, .focus-state .item-input-field:after, .focus-state .input-field:after, .not-empty-state .item-input-field:after, .not-empty-state .input-field:after{
	color:#ff9933;
}

.list-block .item-input{
	font-size:1em;
	min-height:auto;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background:#ff3300;
}

.swiper-wrapper{
	margin-bottom: 40px;
}

.toolbar-inner > .button {
	background:transparent;
	color:#CE7F86;
	border:0px;
    box-shadow: none;
}

.toolbar-inner > .button.active {
	background:transparent;
	color:#ff3300;
	border:0px;
    box-shadow: none;
}


::-webkit-input-placeholder {
	font-weight:100;
	color: #eee;
}

:-moz-placeholder {
	font-weight:100;
	color: #eee;
}

::-moz-placeholder {
	font-weight:100;
	color: #eee;
}

:-ms-input-placeholder {  
	font-weight:100;
	color: #eee;
}


