						<ul>
						{{#each text}}
							<li>
								<a href="#"  class="item-content">
									<div class="item-inner">
										<div class="item-input">
											{{titulo}}
										</div>
										<div class="item-after">
											{{quantidade}} X R$ {{valor}}
										</div>
									</div>
								</a>
							</li>
						{{/each}}
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-input">
											TOTAL
										</div>
										<div class="item-after">
											R$ <span id="total_pedido_finalizar">0</span>
										</div>
									</div>
								</div>
							</li>

						</ul>

