						{{#if ok>0}}
							{{#each text}}
								<div class="card facebook-card">
									<div class="card-header no-border">
										<div class="facebook-avatar">
											{{#if imagem}}
												<div class="img_tiny"><img onerror="imgError(this);" src="{{imagem}}"></div>
											{{else}}
												<div class="img_tiny"><img src="img/dummy48.png"></div>
											{{/if}}
										</div>
										<div class="facebook-name">{{nome}}</div>
										<div class="facebook-date"><i class="fa fa-calendar-o"></i> {{data}}</div>
									</div>
									<div class="card-content">
										<div class="card-content-inner">
											<p><i class="fa fa-commenting-o"></i> {{comentario}}</p>
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
							<div class="card facebook-card">
								<div class="card-content">
									<div class="card-content-inner">
										<p><i class="fa fa-commenting-o"></i> Nenhum comentário sobre esse estabelecimento</p>
									</div>
								</div>
							</div>
						{{/if}}

