						 <ul>
						{{#if ok>0}}
							{{#each text}}
								<li class="swipeout">
									<div class="swipeout-content item-content material">
										<div class="item-media">
											{{#if imagem}}
												<div class="img_tiny"><img onerror="imgError(this);" src="{{imagem}}"></div>
											{{else}}
												<div class="img_tiny"><img src="img/dummy48.png"></div>
											{{/if}}
										</div>

										<div class="item-inner">
											<div class="item-input">
												<a href="produto_sugestao.html?id={{id_produto}}">{{titulo}}</a>
											</div>
											<div class="item-after icon-only">
												R$ {{valor}}
											</div>
										</div>
									</div>
									<div class="swipeout-actions-right">
										<a href="produto_sugestao.html?id={{id_produto}}" class="produto_swipeout">Detalhes</a>
									</div>
								</li>
							{{/each}}
						{{else}}
							<li>
								<a href="#">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-input">
												Nenhum produto pedido recentemente
											</div>
										</div>
									</div>
								</a>
							</li>
						{{/if}}
						</ul>

