						{{#each text}}
							<div class="content-block" style="text-align:center; margin:0px; margin-top:180px; ">
								{{#if imagem}}
									<!--<img class="img_medium" onerror="imgError(this);" src="{{imagem}}">-->
								{{else}}
									<!--<img class="img_medium" src="img/dummy480.png">-->
								{{/if}}
							</div>

							<div class="card">
								<div class="card-header"><b>{{titulo}}</b></div>
								<div class="card-content">
									<div class="card-content-inner">
										{{descricao}}</br>
										<b>R$: {{valor}}</b>
									</div>
								</div>
								<div class="card-footer">
									<a href="#" class="link" id="produto_adicionar_carrinho" onclick="carrinho_adicionar_modal();" data-id="{{id}}" data-tipo="{{tipo_produto}}" data-titulo="{{titulo}}" data-valor="{{valor}}">Adicionar ao carrinho</a>
								</div>
							</div>
						{{/each}}



