						{{#each text}}
							<div class="content-block" style="text-align:center; margin:0px; margin-top:180px;">
								{{#if imagem}}
									<!--<img class="img_medium" onerror="imgError(this);" src="{{imagem}}">-->
								{{else}}
									<!--<img class="img_medium" src="img/dummy480.png">-->
								{{/if}}
							</div>

							<div class="card">
								<div class="card-header"><b>{{titulo}}</b></div>
								<div class="card-content">
									<div class="card-content-inner">
										{{descricao}}</br>
										<b>R$: {{valor}}</b>
									</div>
								</div>
								<div class="card-footer">
									<a href="#" class="link" onclick="carrinho_adicionar(this);" data-id="{{id_produto}}" id="{{id_produto}}" data-tipo="{{tipo_produto}}" data-titulo="{{titulo}}" data-valor="{{valor}}"><i class="fa  fa-2x  fa-plus-circle"></i></a>
									<a href="#" class="link">
										<i class="fa fa-calendar-plus-o fa-2x "></i>
										<input style="width:32px; height:25px; position:absolute; color:transparent; border:0px; right:15px; background:transparent; z-index:10;" type="text" id="data_reserva" />
									</a>
									<a href="restaurante.html?id={{id_restaurante}}" class="link"><i class="fa fa-home fa-2x "></i></a>
									<a onclick="go_to_map('{{lat}}','{{lng}}')"><i class="fa fa-map-o fa-2x "></i></a>
								</div>
							</div>
						{{/each}}



